<!-- File Name: contact.ejs
Student's Name: Plaban Biswas
Student ID: 301344949
Date: September 27, 2023 -->
<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->
        <!-- DOC: https://getbootstrap.com/docs/5.3/components/card/#header-and-footer -->
        <!-- DOC: https://getbootstrap.com/docs/5.3/forms/form-control/#example -->
        <!-- DOC: https://getbootstrap.com/docs/5.3/forms/overview/#overview -->
        <main class="container-fluid bg-turquoise">
            <div class="jumbotron">
                <h1>Welcome to the <%= title %> Page</h1>
                <div class="jumbotron">
                    <div class="card">
                        <h5 class="card-header">Socials</h5>
                        <div class="card-body">
                            <h5 class="card-title">You can find me on these platforms most of the time.</h5>
                            <span class="fa-stack fa-lg">
                                <a class="nav-link" href="https://github.com/Plaban9/"><i
                                        class="fa-brands fa-github fa-fade fa-2xl"></i></a>
                            </span>
                            <span class="fa-stack fa-lg">
                                <a class="nav-link" href="https://www.linkedin.com/in/plaban-biswas/"><i
                                        class="fa-brands fa-linkedin fa-fade fa-2xl"></i></a>
                            </span>
                            <span class="fa-stack fa-lg">
                                <a class="nav-link" href="https://www.instagram.com/plaban96/"><i
                                        class="fa-brands fa-instagram fa-fade fa-2xl"></i></a>
                            </span>
                            <!-- Cool Pulse Effect lol -->
                            <!-- <div class="test">
                                <a class="nav-link" href="https://github.com/Plaban9/"><i
                                        class="fa-brands fa-github fa-2xl"></i></a>
                                <a class="nav-link" href="https://www.linkedin.com/in/plaban-biswas/"><i
                                        class="fa-brands fa-linkedin fa-2xl"></i></a> -->
                        </div>

                    </div>
                </div>
                <br>
                <form method="post" action="/">
                    <div class="form-group">
                        <label for="exampleName">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name"
                            placeholder="Enter name here...">
                    </div>
                    <div class="form-group">
                        <label for="examplePhone">Phone</label>
                        <input type="number" class="form-control" id="phone" aria-describedby="phone"
                            placeholder="+91-987654321">
                        <small id="phoneHelp" class="form-text text-muted">We'll never share your phone number with
                            anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="name@example.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Enter message here..."></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Subscribe for Updates</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>